description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ this.page.title }}</title>

    <meta name="description" content="Maksim Paderin is a beginning full-stack web developer based in Finland. Always interested in new projects.">
	<meta name="google-site-verification" content="MAYXn9DNB39VQJNYm1uPmghbPx6fknF0FEl5n4DPAMg" />
	<meta name="google-site-verification" content="1iqrFitnvDOCVb_okGYr5wtMZxWeVPZZ-t-t6yRGBgw" />
	<meta http-equiv="Cache-control" content="public">

    <!-- Bootstrap -->
    <link rel="alternate" href="http://mvpaderin.com" hreflang="en-us" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600|Lato:700|Montserrat:300,400,600|Raleway:300,400,600" rel="stylesheet">
    <link href="{{'assets/css/style.min.css' | theme}}" rel="stylesheet">
    <link rel="icon"
      type="image/ico"
      href="{{'assets/img/icons/favicon.ico' | theme}}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js' | theme}}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' | theme}}"></script>
    <![endif]-->
  </head>

  {%page%}

        <footer class="mt-5">
          <p> &copy; 2017 Maksim Paderin</p>
      	</footer>


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{{'assets/js/jqueryease.min.js' | theme}}"></script>
      <!-- <script src="{{'assets/js/bootstrap.min.js' | theme}}"></script> -->
      <script type="text/javascript" src="{{'assets/js/custom.min.js' | theme}}"></script>
  </body>
</html>